CSVGraph/Application/bin
CSVGraph/Application/obj

CSVGraph/Common/bin
CSVGraph/Common/obj

CSVGraph/Domain/bin
CSVGraph/Domain/obj

CSVGraph/Persistance/bin
CSVGraph/Persistance/obj

CSVGraph/WebService/bin
CSVGraph/WebService/obj

CSVGraph/Service/bin
CSVGraph/Service/obj

CSVGraph/WebClient/bin
CSVGraph/WebClient/obj
