:host {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #293C55;
  margin-right: 30px;
  height: 100vh;
  min-width: 700px;
}

input[type=file] {

  font-family: Courier New;
  color: #ffffff;
  font-size: 24px;
  background: #A9334C ;
  padding: 40px 20px 40px 20px;
  text-decoration: none;
  border: none;
  outline:none;
  cursor: pointer;
  width: 100%;
}

input[type=file]:hover {
  text-decoration: none;
  border-bottom: 2px white solid;
  border-top: 2px white solid;
}

.spinner {
  width: 100px;
  height: 100px;
  background-color: #A9334C;

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
/* #A9334C */
